.heading1 { text-align: center; font-weight: bold; font-size: 2em; }
.heading2 { text-align: center; font-weight: bold; font-size: 1.5em; }n.heading0 { text-indent: 2em; text-align: justify; font-size: 1em; }
.image_inline { vertical-align: baseline; }
.image_block { vertical-align: baseline; }
.bookpagebreak { display: block; page-break-after:always; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0 }
p {text-indent: 1.5em; }
.main { display: block; font-size: 1em; margin-bottom: 0; margin-left: 5pt; margin-right: 5pt; margin-top: 0; padding-left: 0; padding-right: 0; text-align: justify }
.hyper { text-decoration: underline; }
@font-face {font-family:Times_avs_space_New_avs_space_Roman;font-weight:bold;font-style:normal;src:url(fonts/timesbd.ttf);}
@font-face {font-family:Times_avs_space_New_avs_space_Roman;font-weight:normal;font-style:normal;src:url(fonts/times.ttf);}
@font-face {font-family:Times_avs_space_New_avs_space_Roman;font-weight:normal;font-style:italic;src:url(fonts/timesi.ttf);}
@font-face {font-family:Times_avs_space_New_avs_space_Roman;font-weight:bold;font-style:italic;src:url(fonts/timesbi.ttf);}
