{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="font-weight-bold">Form</h1>
            <br><br>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Создать" />
                <a href="http://127.0.0.1:8000/" class="btn btn-danger">Отмена</a>
            </form>
        </div>
    </div>
        <br><br>

{% endblock content %}

