{% extends "base.html" %}
{% block content %}

    {% if object_list|length > 0 %}
        <div class="col-sm-12 mx-auto">
            <h1 class="font-weight-bold">{{ title }}</h1>

            <br>
            <div class="row">
                {% for obj in object_list %}
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-1">
                            <h6 class="font-weight-bold">
                                {{ obj.id }}.
                            </h6>
                        </div>
                        <div class="col-sm-10">
                            <div class="thumbnail">
                                {% if obj.image %}
                                    <img src='{{ obj.image.url }}' class='img-responsive' width="100%">
                                {% endif %}
                                <div class="caption">
                                    <h3>
                                        <a href="{{ obj.get_absolute_url }}">
                                            {{ obj.title }}
                                        </a>
                                        <br>
                                        <h6>
                                            {{ obj.author }}
                                        </h6>
                                    </h3>
                                    <small style="padding: 0; margin: 0">
                                        {{ obj.timestamp|timesince }} ago
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>

            {% if object_list|length > 9 %}
            <div class="row">
                <div class="pagination mx-auto">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}" role="button" class="btn btn-primary">
                                previous
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}" role="button" class="btn btn-primary">
                                next
                            </a>
                        {% endif %}

                    </span>
                </div>
            </div>
            {% endif %}

        </div>
    {% else %}
        <div style="position: fixed; top: 45%; left: 45%" class="row">
            <div class="col-sm-12 text-center">
                <h1 class="font-weight-bold">No data</h1>
                {#   HARD CODE   #}
                <a href="book_create/" class="btn btn-outline-primary" role="button">Create new</a>
            </div>
        </div>
    {% endif %}
{% endblock content %}

